In [111]:
import pandas as pd
import numpy as np
import json
import re
from llms import gemini
from llms import chatGPT
from sklearn.metrics.pairwise import cosine_similarity
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D  # for 3D plotting
import plotly.express as px
from sklearn.manifold import TSNE
from reportlab.pdfgen import canvas
from reportlab.lib.pagesizes import letter
from reportlab.lib.utils import ImageReader
import plotly.io as pio
import requests
import pandas as pd
import aiohttp
import asyncio
import nest_asyncio
import os
from os import getenv
from dotenv import load_dotenv
import time
import ast 

load_dotenv("../.env",override=True)
GEO_KEY = getenv("GOOGLE_API_KEY")

x_chat = chatGPT()
x_gemini = gemini()

In [112]:
df = pd.read_csv("../output/results/bls_df.csv",index_col=0)
tsne = pd.read_csv("../output/results/tsne.csv",index_col=0)
df = pd.concat([df,tsne],axis=1)

# df.example_task_embedding = df.example_task_embedding.apply(lambda x: [float(y) for y in x.strip("[]").split(", ")])
# df.onet_task_embedding = df.onet_task_embedding.apply(lambda x: [float(y) for y in x.strip("[]").split(", ")])
# df.onet_title_embedding = df.onet_title_embedding.apply(lambda x: [float(y) for y in x.strip("[]").split(", ")])

In [201]:
df = df2

In [202]:
onet_occ = pd.read_csv("../input/onet/Occupation Data.csv")[["O*NET-SOC Code","Title"]]
onet_occ.columns = ["Detailed Occupation","onet_title"]
onet_occ["Detailed Occupation"] = onet_occ["Detailed Occupation"].apply(lambda x: x[:-3])

In [203]:
wage_employment = pd.read_csv("../input/wage_employment_2022/national2022.csv")
wage_employment = wage_employment[wage_employment.O_GROUP == "detailed"]
wage_employment = wage_employment.rename({"OCC_CODE": "Detailed Occupation"}, axis=1)
wage_employment = wage_employment.replace("#", np.nan).replace("*", np.nan).replace({",": ""}, regex=True)
wage_employment[["H_MEDIAN", "A_MEDIAN","TOT_EMP"]] = wage_employment[["H_MEDIAN", "A_MEDIAN","TOT_EMP"]].astype("float")
wage_employment["H_MEDIAN"] = wage_employment["H_MEDIAN"].round(0)
wage_employment = wage_employment[["Detailed Occupation","H_MEDIAN","A_MEDIAN","TOT_EMP"]]
wage_employment.columns = ["Detailed Occupation","H_MEDIAN_US","A_MEDIAN_US","TOT_EMP_US"]


all_tasks = df.groupby(["Task","Title"]).aggregate({"onet_weight":"sum"}).reset_index()
task_statements = pd.read_csv("../input/onet/Task Statements.csv")[["Task","Title"]]
all_tasks = all_tasks.merge(task_statements, on=["Task","Title"], how="outer")
all_tasks = all_tasks.merge(onet_occ, left_on="Title",right_on="onet_title").drop(columns=["Title"])

all_tasks = all_tasks.replace(np.nan,0)
perc_of_10K = (wage_employment.groupby("Detailed Occupation")["TOT_EMP_US"].first()/wage_employment["TOT_EMP_US"].sum()).reset_index() # num of people for every 10K workers
perc_of_10K = perc_of_10K.rename({"TOT_EMP_US":"Percent of 10K workers"},axis=1)


all_tasks = all_tasks.merge(perc_of_10K, on="Detailed Occupation")
ratios = all_tasks['onet_weight'] / all_tasks['Percent of 10K workers']
all_tasks["task_automation_rating"] = np.minimum(ratios, 1)


all_occupations = all_tasks.groupby("Detailed Occupation").aggregate({"task_automation_rating":"sum","Task":"count", "onet_title":"first"})
all_occupations.columns = ["occupation_# tasks automated","occupation_# of tasks","onet_title"]
all_occupations["occupation_automation_rating"] = all_occupations["occupation_# tasks automated"]/all_occupations["occupation_# of tasks"]
df = df.merge(all_tasks[["Task","onet_title","task_automation_rating","Percent of 10K workers"]], on=["Task","onet_title"], how="left")
df = df.merge(all_occupations,on=["Detailed Occupation","onet_title"],how="left")

df = df.merge(wage_employment, on="Detailed Occupation", how="left")
all_occupations = all_occupations.merge(wage_employment, on="Detailed Occupation")
all_tasks = all_tasks.merge(wage_employment, on="Detailed Occupation")
all_tasks = all_tasks.rename({"Title":"onet_title"},axis=1)

In [205]:
codes = pd.read_csv("../input/soc_codes/soc_codes.csv", index_col=0)
all_occupations = all_occupations.merge(codes,on="Detailed Occupation", how="left")
all_tasks = all_tasks.merge(codes,on="Detailed Occupation", how="left")

In [ ]:
job_zones = pd.read_csv("../input/onet/Job Zones.csv",index_col=0)[["Title","Job Zone"]]
job_zones_ref = pd.read_csv("../input/onet/Job Zone Reference.csv",index_col=0)
df = df.merge(job_zones, on="Title", how="left")

In [207]:
education = pd.read_csv("../input/onet/Education, Training, and Experience.csv")[["Title","Data Value","Category", "Scale Name"]]
education["weighted_category"] = education["Data Value"]/100*education["Category"]
education = education.groupby(["Title","Scale Name"])["weighted_category"].sum().reset_index()
education = education.pivot(index=['Title'], columns='Scale Name', values='weighted_category').reset_index().drop(columns=["Importance"])
education.columns.name = None
education.columns = [col if not isinstance(col, tuple) else col[1] for col in education.columns]
df = df.merge(education, on="Title", how="left")

In [208]:
dwa = pd.read_csv("../input/onet/Tasks to DWAs.csv")[3:].reset_index(drop=True)
dwa = dwa[["DWA ID","DWA Title","Task"]]
# dwa = dwa.rename({"ID":"Task ID"},axis=1)
grouped = dwa.groupby("Task").aggregate({"DWA ID":"count"}).apply(lambda x: 1/x).reset_index()
grouped = grouped.rename({"DWA ID":"dwa_count"},axis=1)
dwa = dwa.merge(grouped,on="Task")
dwa_ref = pd.read_csv("../input/onet/DWA Reference.csv")[["Element Name","DWA ID"]]
dwa_ref = dwa_ref.rename({"Element Name":"activity"},axis=1)

df_activity = df.merge(dwa, on="Task",how="left")
df_activity = df_activity.merge(dwa_ref, on="DWA ID",how="left")
print(len(df_activity[df_activity["DWA ID"].isnull()]))

print(len(df_activity))

57
54079

In [209]:
df.head()

,organization name,number,Example,example_task_embedding,founded date,website,description_all,industries_parsed,generated_description,parsed_description,...,occupation_# of tasks,occupation_automation_rating,H_MEDIAN_US,A_MEDIAN_US,TOT_EMP_US,Job Zone,On-Site Or In-Plant Training (Categories 1-9),On-The-Job Training (Categories 1-9),Related Work Experience (Categories 1-11),Required Level Of Education (Categories 1-12)
0,Pika,1,A content creator uses Pika to quickly turn a ...,"[-0.009328115731477737, -0.004033779725432396,...",2023-01-01,pika.art,Pika is a startup that develops an AI-powered ...,"['Generative AI', 'Graphic Design', 'Video']",Pika.art is an AI-powered platform that allows...,"Tasks/Jobs: Video editing, Filmmaking, Storybo...",...,23.0,0.521739,31.0,63520.0,32080.0,4.0,2.9810,2.9470,6.6570,5.1685
1,Contextual AI,1,A marketing team uses Contextual AI to brainst...,"[-0.0026594670489430428, -0.01533527858555317,...",2023-01-01,contextual.ai,Contextual AI offers a pioneering approach to ...,"['Generative AI', 'Software']",Contextual AI is a company that provides a gen...,"Tasks/Jobs: Brainstorming, Content creation, K...",...,20.0,0.350000,67.0,140040.0,328570.0,4.0,2.4324,3.6346,8.2829,6.6805
2,Contextual AI,1,A marketing team uses Contextual AI to brainst...,"[-0.0026594670489430428, -0.01533527858555317,...",2023-01-01,contextual.ai,Contextual AI offers a pioneering approach to ...,"['Generative AI', 'Software']",Contextual AI is a company that provides a gen...,"Tasks/Jobs: Brainstorming, Content creation, K...",...,17.0,0.058824,47.0,98100.0,3376680.0,4.0,3.8811,4.0190,8.1054,4.9160
3,Contextual AI,1,A marketing team uses Contextual AI to brainst...,"[-0.0026594670489430428, -0.01533527858555317,...",2023-01-01,contextual.ai,Contextual AI offers a pioneering approach to ...,"['Generative AI', 'Software']",Contextual AI is a company that provides a gen...,"Tasks/Jobs: Brainstorming, Content creation, K...",...,30.0,0.366667,61.0,127830.0,22010.0,4.0,3.1333,3.1149,7.4423,5.2070
4,Sierra,1,A customer service representative uses a conve...,"[-0.02811567112803459, -0.030599573627114296, ...",2023-01-01,sierra.ai,Sierra is an AI startup that tackles essential...,"['Enterprise Software', 'SaaS']",Sierra is a company that provides AI-powered c...,"Tasks/Jobs: Customer support, Lead generation,...",...,15.0,0.733333,18.0,37780.0,2879840.0,2.0,3.5466,3.6986,5.3662,3.3263

In [210]:
all_tasks_activity = all_tasks.merge(dwa, on="Task",how="left")
all_tasks_activity = all_tasks_activity.merge(dwa_ref, on="DWA ID",how="left")

In [211]:
def parse_bls(wage_employment,type):
    wage_employment = wage_employment[wage_employment.O_GROUP == "detailed"]
    wage_employment = wage_employment.rename({"OCC_CODE": "Detailed Occupation"}, axis=1)
    wage_employment = wage_employment.replace("#", np.nan).replace(r"\*+", np.nan, regex=True).replace(",", "", regex=True)
    wage_employment[["H_MEDIAN", "A_MEDIAN","TOT_EMP","JOBS_1000"]] = wage_employment[["H_MEDIAN", "A_MEDIAN","TOT_EMP", "JOBS_1000"]].astype("float")
    wage_employment["H_MEDIAN"] = wage_employment["H_MEDIAN"].round(0)
    wage_employment = wage_employment[["AREA","Detailed Occupation","H_MEDIAN","A_MEDIAN","TOT_EMP","JOBS_1000"]]
    wage_employment.columns = ["AREA","Detailed Occupation","H_MEDIAN_"+type,"A_MEDIAN_"+type,"TOT_EMP_"+type, 'JOBS_1000_'+type]
    return wage_employment


nonmetro = pd.read_csv("../input/wage_employment_2022/rural2022.csv")
metro = pd.read_csv("../input/wage_employment_2022/metro2022.csv")
nonmetro = parse_bls(nonmetro,"RURAL")
metro = parse_bls(metro,"METRO")

#figures out how much to weight each area
def calculate_weights(df,type):
    grouped = df.groupby("Detailed Occupation")["TOT_EMP_"+type].sum().reset_index()
    grouped = grouped.rename({"TOT_EMP_"+type: "sum_"+type}, axis=1)
    df = df.merge(grouped, on="Detailed Occupation")
    df["weight_area_"+type] = df["TOT_EMP_"+type] / df["sum_"+type]
    df["weighted_JOBS_1000_"+type] = df["JOBS_1000_"+type]*df["weight_area_"+type]
    return df
metro = calculate_weights(metro,"METRO")
nonmetro = calculate_weights(nonmetro,"RURAL")

metro_grouped = metro.groupby("Detailed Occupation").aggregate({"H_MEDIAN_METRO":"mean","TOT_EMP_METRO":"sum","A_MEDIAN_METRO":"mean", "weighted_JOBS_1000_METRO":"sum"},axis=1).reset_index()
nonmetro_grouped = nonmetro.groupby("Detailed Occupation").aggregate({"H_MEDIAN_RURAL":"mean","TOT_EMP_RURAL":"sum","A_MEDIAN_RURAL":"mean","weighted_JOBS_1000_RURAL":"sum"},axis=1).reset_index()

df = df.merge(metro_grouped,on="Detailed Occupation",how="left")
df = df.merge(nonmetro_grouped,on="Detailed Occupation",how="left")

In [212]:
metro.columns = [col.replace("_METRO","") for col in metro.columns]
metro["Type"] = "METRO"
nonmetro.columns = [col.replace("_RURAL","") for col in nonmetro.columns]
nonmetro["Type"] = "RURAL"
locations = pd.concat([metro, nonmetro],axis=0)
locations = locations.merge(all_occupations,on="Detailed Occupation")
locations["weighted_automation_#_per_1000_people"] = locations["JOBS_1000"]*locations["occupation_automation_rating"]
locations = locations.groupby("AREA").aggregate({"weighted_automation_#_per_1000_people":"sum", "Type":"first"}).reset_index()


geo = pd.read_csv("../output/parsed_BLS_data/geography.csv",index_col=0)
geo.Boundary = geo.Boundary.apply(lambda x: ast.literal_eval(x) if not pd.isnull(x) else x)
geo = geo[~geo["name"].str.contains("Census Area")]


locations = locations.merge(geo, on="AREA",how="left")
locations = locations.dropna(subset=["name"])

locations.to_csv("../output/EDA_data/automation_by_geography.csv")

In [ ]:
all_occupations.to_csv("../output/EDA_data/all_occupations_automation.csv")
all_tasks.to_csv("../output/EDA_data/all_tasks_automation.csv")
df.to_csv("../output/EDA_data/startup_data.csv")
df_activity.to_csv("../output/EDA_data/startup_data_with_activities.csv")
all_tasks_activity.to_csv("../output/EDA_data/all_tasks_automation_activity.csv")

In [213]:
df.head()

,organization name,number,Example,example_task_embedding,founded date,website,description_all,industries_parsed,generated_description,parsed_description,...,Related Work Experience (Categories 1-11),Required Level Of Education (Categories 1-12),H_MEDIAN_METRO,TOT_EMP_METRO,A_MEDIAN_METRO,weighted_JOBS_1000_METRO,H_MEDIAN_RURAL,TOT_EMP_RURAL,A_MEDIAN_RURAL,weighted_JOBS_1000_RURAL
0,Pika,1,A content creator uses Pika to quickly turn a ...,"[-0.009328115731477737, -0.004033779725432396,...",2023-01-01,pika.art,Pika is a startup that develops an AI-powered ...,"['Generative AI', 'Graphic Design', 'Video']",Pika.art is an AI-powered platform that allows...,"Tasks/Jobs: Video editing, Filmmaking, Storybo...",...,6.6570,5.1685,26.162500,26410.0,54471.625000,0.730734,35.000000,40.0,72620.000000,0.253000
1,Contextual AI,1,A marketing team uses Contextual AI to brainst...,"[-0.0026594670489430428, -0.01533527858555317,...",2023-01-01,contextual.ai,Contextual AI offers a pioneering approach to ...,"['Generative AI', 'Software']",Contextual AI is a company that provides a gen...,"Tasks/Jobs: Brainstorming, Content creation, K...",...,8.2829,6.6805,57.848765,290590.0,120301.543210,3.149406,53.029126,9730.0,110363.980583,0.925111
2,Contextual AI,1,A marketing team uses Contextual AI to brainst...,"[-0.0026594670489430428, -0.01533527858555317,...",2023-01-01,contextual.ai,Contextual AI offers a pioneering approach to ...,"['Generative AI', 'Software']",Contextual AI is a company that provides a gen...,"Tasks/Jobs: Brainstorming, Content creation, K...",...,8.1054,4.9160,42.678481,2863600.0,88748.000000,24.144487,37.654412,337140.0,78293.382353,22.832425
3,Contextual AI,1,A marketing team uses Contextual AI to brainst...,"[-0.0026594670489430428, -0.01533527858555317,...",2023-01-01,contextual.ai,Contextual AI offers a pioneering approach to ...,"['Generative AI', 'Software']",Contextual AI is a company that provides a gen...,"Tasks/Jobs: Brainstorming, Content creation, K...",...,7.4423,5.2070,53.768116,17270.0,111938.840580,0.322897,NaN,NaN,NaN,NaN
4,Sierra,1,A customer service representative uses a conve...,"[-0.02811567112803459, -0.030599573627114296, ...",2023-01-01,sierra.ai,Sierra is an AI startup that tackles essential...,"['Enterprise Software', 'SaaS']",Sierra is a company that provides AI-powered c...,"Tasks/Jobs: Customer support, Lead generation,...",...,5.3662,3.3263,17.258228,2510780.0,35862.126582,21.652882,16.544118,198700.0,34425.514706,13.103850