In [4]:
import pandas as pd
import numpy as np
import json
import re
from llms import gemini
from llms import chatGPT
from sklearn.metrics.pairwise import cosine_similarity
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D  # for 3D plotting
import plotly.express as px
from sklearn.manifold import TSNE
from reportlab.pdfgen import canvas
from reportlab.lib.pagesizes import letter
from reportlab.lib.utils import ImageReader
import plotly.io as pio


x_chat = chatGPT()
x_gemini = gemini()

In [6]:
df = pd.read_csv("../output/bls_df.csv",index_col=0)
# tsne = pd.read_csv("../output/tsne.csv",index_col=0)
# df = pd.concat([df,tsne],axis=1)

# df.example_task_embedding = df.example_task_embedding.apply(lambda x: [float(y) for y in x.strip("[]").split(", ")])
# df.onet_task_embedding = df.onet_task_embedding.apply(lambda x: [float(y) for y in x.strip("[]").split(", ")])
# df.onet_title_embedding = df.onet_title_embedding.apply(lambda x: [float(y) for y in x.strip("[]").split(", ")])

In [10]:
wage_employment

     Detailed Occupation  H_MEDIAN_US  A_MEDIAN_US  TOT_EMP_US  JOBS_1000_US
4                11-1011         91.0     189520.0    199240.0           NaN
6                11-1021         47.0      98100.0   3376680.0           NaN
8                11-1031          NaN      48090.0     42890.0           NaN
11               11-2011         61.0     127830.0     22010.0           NaN
13               11-2021         67.0     140040.0    328570.0           NaN
...                  ...          ...          ...         ...           ...
1394             53-7072         27.0      55860.0     10870.0           NaN
1395             53-7073         30.0      63280.0     14550.0           NaN
1397             53-7081         21.0      43540.0    132240.0           NaN
1399             53-7121         26.0      53930.0     12470.0           NaN
1401             53-7199         19.0      38800.0     24880.0           NaN

[830 rows x 5 columns]

In [11]:


wage_employment = pd.read_csv("../input/wage_employment_2022/national2022.csv")
wage_employment = wage_employment[wage_employment.O_GROUP == "detailed"]
wage_employment = wage_employment.rename({"OCC_CODE": "Detailed Occupation"}, axis=1)
wage_employment = wage_employment.replace("#", np.nan).replace("*", np.nan).replace({",": ""}, regex=True)
wage_employment[["H_MEDIAN", "A_MEDIAN","TOT_EMP","JOBS_1000"]] = wage_employment[["H_MEDIAN", "A_MEDIAN","TOT_EMP","JOBS_1000"]].astype("float")
wage_employment["H_MEDIAN"] = wage_employment["H_MEDIAN"].round(0)
wage_employment = wage_employment[["Detailed Occupation","H_MEDIAN","A_MEDIAN","TOT_EMP","JOBS_1000"]]
wage_employment.columns = ["Detailed Occupation","H_MEDIAN_US","A_MEDIAN_US","TOT_EMP_US","JOBS_1000_US"]


all_tasks = df.groupby("Task").aggregate({"onet_weight":"sum"}).reset_index()
task_statements = pd.read_csv("../input/onet/Task Statements.csv")[["Task","Title"]]
all_tasks = all_tasks.merge(task_statements, on=["Task"], how="outer")
onet_occ = pd.read_csv("../input/onet/Occupation Data.csv")[["O*NET-SOC Code","Title"]]
onet_occ.columns = ["Detailed Occupation","onet_title"]
onet_occ["Detailed Occupation"] = onet_occ["Detailed Occupation"].apply(lambda x: x[:-3])
all_tasks = all_tasks.merge(onet_occ, left_on="Title",right_on="onet_title").drop(columns=["Title"])

all_tasks = all_tasks.replace(np.nan,0)
perc_of_10K = (wage_employment.groupby("Detailed Occupation")["TOT_EMP_US"].first()/wage_employment["TOT_EMP_US"].sum() * 10000).reset_index() # num of people for every 10K workers
perc_of_10K = perc_of_10K.rename({"TOT_EMP_US":"Percent of 10K workers"},axis=1)


all_tasks = all_tasks.merge(perc_of_10K, on="Detailed Occupation")
ratios = all_tasks['onet_weight'] / all_tasks['Percent of 10K workers']
all_tasks["automated_weight"] = np.minimum(ratios, 1)


all_occupations = all_tasks.groupby("Detailed Occupation").aggregate({"automated_weight":"sum","Task":"count", "onet_title":"first"})
all_occupations.columns = ["occupation_# tasks automated","occupation_# of tasks","onet_title"]
all_occupations["occupation_onet_rating"] = all_occupations["occupation_# tasks automated"]/all_occupations["occupation_# of tasks"]
df = df.merge(all_tasks[["Task","automated_weight","Percent of 10K workers"]], on="Task")
df = df.merge(all_occupations,on=["Detailed Occupation","onet_title"])

df = df.merge(wage_employment, on="Detailed Occupation")
all_occupations = all_occupations.merge(wage_employment, on="Detailed Occupation")
all_tasks = all_tasks.merge(wage_employment, on="Detailed Occupation")
all_tasks = all_tasks.rename({"Title":"onet_title"},axis=1)

In [13]:
pd.read_csv("../input/onet/Skills.csv")

,O*NET-SOC Code,Title,Element ID,Element Name,Scale ID,Scale Name,Data Value,N,Standard Error,Lower CI Bound,Upper CI Bound,Recommend Suppress,Not Relevant,Date,Domain Source
0,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension,IM,Importance,4.12,8.0,0.13,3.88,4.37,N,NaN,07/2014,Analyst
1,11-1011.00,Chief Executives,2.A.1.a,Reading Comprehension,LV,Level,4.75,8.0,0.16,4.43,5.07,N,N,07/2014,Analyst
2,11-1011.00,Chief Executives,2.A.1.b,Active Listening,IM,Importance,4.12,8.0,0.13,3.88,4.37,N,NaN,07/2014,Analyst
3,11-1011.00,Chief Executives,2.A.1.b,Active Listening,LV,Level,4.88,8.0,0.23,4.43,5.32,N,N,07/2014,Analyst
4,11-1011.00,Chief Executives,2.A.1.c,Writing,IM,Importance,4.00,8.0,0.00,4.00,4.00,N,NaN,07/2014,Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61105,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.b,Management of Financial Resources,LV,Level,1.12,8.0,0.13,0.88,1.37,N,N,08/2019,Analyst
61106,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.c,Management of Material Resources,IM,Importance,2.00,8.0,0.00,2.00,2.00,N,NaN,08/2019,Analyst
61107,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.c,Management of Material Resources,LV,Level,1.88,8.0,0.13,1.63,2.12,N,N,08/2019,Analyst
61108,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.d,Management of Personnel Resources,IM,Importance,2.88,8.0,0.13,2.63,3.12,N,NaN,08/2019,Analyst
61109,53-7121.00,"Tank Car, Truck, and Ship Loaders",2.B.5.d,Management of Personnel Resources,LV,Level,2.75,8.0,0.16,2.43,3.07,N,N,08/2019,Analyst

In [14]:
dwa = pd.read_csv("../input/onet/Tasks to DWAs.csv")[3:].reset_index(drop=True)
dwa = dwa[["DWA ID","DWA Title","Task"]]
# dwa = dwa.rename({"ID":"Task ID"},axis=1)
grouped = dwa.groupby("Task").aggregate({"DWA ID":"count"}).apply(lambda x: 1/x).reset_index()
grouped = grouped.rename({"DWA ID":"dwa_count"},axis=1)
dwa = dwa.merge(grouped,on="Task")
dwa_ref = pd.read_csv("../input/onet/DWA Reference.csv")[["Element Name","DWA ID"]]
dwa_ref = dwa_ref.rename({"Element Name":"activity"},axis=1)

tf = df.merge(dwa, on="Task",how="left")
tf = tf.merge(dwa_ref, on="DWA ID",how="left")
print(len(tf[tf["DWA ID"].isnull()]))

print(len(tf))

0
234

In [ ]:
skill_activity = pd.read_csv("../input/onet/Skills to Work Activities.csv")[["Work Activities Element Name", "Skills Element Name"]]
skill_activity.columns = ["activity", "skill"]
activities_df = pd.DataFrame(columns=["activity", "activity_embedding", "skill", "skill_embedding"])
for i, row in skill_activity.iterrows():
    activity = row["activity"]
    skill = row["skill"]
    activity_embedding = x_chat.get_embedding(activity)
    skill_embedding = x_chat.get_embedding(skill)
    activities_df.loc[i] = [activity, activity_embedding, skill, skill_embedding]


activities_df.to_csv("../input/onet/activity_skill_embeddings.csv", index=False)