In [2]:
import pandas as pd
import numpy as np
from decimal import Decimal
from llms import gemini
from llms import chatGPT
from sklearn.metrics.pairwise import cosine_similarity
import json
import time
# from lemmatize import lemmatize
x_chat = chatGPT()
x_gemini = gemini()

In [2]:
df = pd.read_csv('../output/df_with_examples.csv')
df = df.dropna()

In [3]:

job_cols = [[f"Job{i}",f"Job{i}_title"] for i in range(1,4)]
for job in job_cols[0:]:
    for col in job:
        df = x_chat.run_batch_embeddings(df,col)

df.to_csv('../output/df_with_examples_embeddings.csv', index=False)

Processing batch 0 to 199
Processing batch 200 to 399
Processing batch 400 to 599
Processing batch 600 to 799
Processing batch 800 to 999
Processing batch 1000 to 1199
Processing batch 1200 to 1399
Processing batch 1400 to 1599
Processing batch 1600 to 1799
Processing batch 1800 to 1999
Processing final batch 2000 to 2185
Processing batch 0 to 199
Processing batch 200 to 399
Processing batch 400 to 599
Processing batch 600 to 799
Processing batch 800 to 999
Processing batch 1000 to 1199
Processing batch 1200 to 1399
Processing batch 1400 to 1599
Processing batch 1600 to 1799
Processing batch 1800 to 1999
Processing final batch 2000 to 2185
Processing batch 0 to 199
Processing batch 200 to 399
Processing batch 400 to 599
Processing batch 600 to 799
Processing batch 800 to 999
Processing batch 1000 to 1199
Processing batch 1200 to 1399
Processing batch 1400 to 1599
Processing batch 1600 to 1799
Processing batch 1800 to 1999
Processing final batch 2000 to 2185
Processing batch 0 to 199
Processing batch 200 to 399
Processing batch 400 to 599
Processing batch 600 to 799
Processing batch 800 to 999
Processing batch 1000 to 1199
Processing batch 1200 to 1399
Processing batch 1400 to 1599
Processing batch 1600 to 1799
Processing batch 1800 to 1999
Processing final batch 2000 to 2185
Processing batch 0 to 199
Processing batch 200 to 399
Processing batch 400 to 599
Processing batch 600 to 799
Processing batch 800 to 999
Processing batch 1000 to 1199
Processing batch 1200 to 1399
Processing batch 1400 to 1599
Processing batch 1600 to 1799
Processing batch 1800 to 1999
Processing final batch 2000 to 2185
Processing batch 0 to 199
Processing batch 200 to 399
Processing batch 400 to 599
Processing batch 600 to 799
Processing batch 800 to 999
Processing batch 1000 to 1199
Processing batch 1200 to 1399
Processing batch 1400 to 1599
Processing batch 1600 to 1799
Processing batch 1800 to 1999
Processing final batch 2000 to 2185

In [8]:
df_exp.description.iloc[2]

'Sales managers that determine price schedules and discount rates.'

In [5]:
df_exp = pd.read_csv('../input/gpts_labels/gpt_exposure_embeddings.csv')

df_exp.task_embedding = df_exp.task_embedding.apply(lambda x: x.strip("[]").split(", "))

task_embeddings = []
for x in df_exp.task_embedding:
    task_embeddings.append([float(y) for y in x])
df_exp.task_embedding = task_embeddings


task_embeddings = np.array(task_embeddings)
task_embeddings = np.vstack(task_embeddings)


df_exp.title_embedding = df_exp.title_embedding.apply(lambda x: x.strip("[]").split(", "))
title_embeddings = []
for x in df_exp.title_embedding:
    title_embeddings.append([float(y) for y in x])
df_exp.title_embedding = title_embeddings


task_embeddings.shape

(11582, 3072)

In [3]:
df = pd.read_csv('../output/df_with_examples_embeddings.csv')
df.loc[:, ["Job1_ONET", "Job2_ONET", "Job3_ONET"]] = 'N/A'

# list(df.Job1_embedding.apply(ast.literal_eval))
for i in range(3):
    df[f"Job{i+1}_embedding"] = df[f"Job{i+1}_embedding"].apply(lambda x: [float(y) for y in x.strip("[]").split(", ")])
    df[f"Job{i+1}_title_embedding"] = df[f"Job{i+1}_title_embedding"].apply(lambda x: [float(y) for y in x.strip("[]").split(", ")])

In [ ]:
results = []

In [8]:


results = list(pd.read_csv("../output/onet_df.csv").values)

for index, row in list(df.iterrows())[1447:]:
    print("***********************")
    print(f"Processing {index}")
    name = row["organization name"]
    print(name)
    print(row["generated_description"])
        
    job_results = []
    for i in range(1): 
        example = row[f"Example{i+1}"]
        job = row[f'Job{i+1}']
        job_title = row[f'Job{i+1}_title']
        print(f"\nProcessing Example: {example} \nJob: {job}\n")

        job_embedding = np.array(row[f'Job{i+1}_embedding']).reshape(1,-1)
        job_title_embedding = np.array(row[f'Job{i+1}_title_embedding']).reshape(1,-1)
        cosine_sim = cosine_similarity(job_embedding, task_embeddings, 'cosine')
        
        top3 = sorted(zip(cosine_sim[0], df_exp[['title', 'Task', 'description','title_embedding']].values), reverse=True)[:3]
        for cosine_sim_job, onet in top3:
            print(cosine_sim_job)
            onet_title_embedding = np.array([onet[3]])
            cosine_sim_title = cosine_similarity(job_title_embedding, onet_title_embedding, 'cosine')[0][0]
            print(f"{onet[0]}: {onet[1]} {onet[2]} \nCosine Similarity: {cosine_sim_job}, Person Cosine Similarity: {cosine_sim_title}")
            results.append([name,example,row[f"situation{i+1}_conf_interval"], row[f"situation{i+1}_conf_interval_reasoning"],job,onet[0],onet[1],job_title, cosine_sim_job,cosine_sim_title])
 

    if index % 50 == 0:
        print("**Saving Results**\n\n")
        onet_df = pd.DataFrame(results, columns=["organization_name","example","situation_conf_interval", "situation_conf_interval_reasoning","job","onet_title","onet_task","example_job_title","task_similarity", "job_title_similarity"])
        onet_df.situation_conf_interval = onet_df.situation_conf_interval.astype("float")
        onet_df.to_csv("../output/onet_df.csv", index=False)
        time.sleep(10)
        
    print("***********************\n\n")


onet_df = pd.DataFrame(results, columns=["organization_name","example","situation_conf_interval", "situation_conf_interval_reasoning","job","onet_title","onet_task","example_job_title","task_similarity", "job_title_similarity"])
onet_df.situation_conf_interval = onet_df.situation_conf_interval.astype("float")
onet_df.to_csv("../output/onet_df.csv", index=False)

In [7]:
onet_df.iloc[-1]

organization_name                                                            PrimeRole
example                              A sales representative uses PrimeRole to autom...
situation_conf_interval                                                            9.0
situation_conf_interval_reasoning    This task directly matches the "identify poten...
job                                  Sales Representatives that identify potential ...
onet_title                           Sales Representatives, Wholesale and Manufactu...
onet_task                            Contact regular and prospective customers to d...
example_job_title                                                Sales Representatives
task_similarity                                                               0.726466
job_title_similarity                                                          0.722785
Name: 9356, dtype: object

In [4]:
# pd.read_csv("../output/onet_df.csv")


df[df["organization name"]=="Leveragai"]

,organization name,full_description,industries,headquarters location,founded date,description,CB rank,headquarters region,postal code,estimated revenue,...,situation3_conf_interval_reasoning,Job1_embedding,Job1_title_embedding,Job2_embedding,Job2_title_embedding,Job3_embedding,Job3_title_embedding,Job1_ONET,Job2_ONET,Job3_ONET
1446,Leveragai,Leveragai is an AI-driven company that special...,"Artificial Intelligence (AI), Consulting, Corp...","Baltimore, Maryland, United States",2023-06-01,"Artificial Intelligence, Consultancy, Solution...","468,809","Greater Baltimore-Maryland Area, East Coast, S...",21223,—,...,While Leveragai's AI could automate customer s...,"[-0.008085760287940502, -0.019565412774682045,...","[-0.0012607682729139924, -0.018306555226445198...","[-0.02003137767314911, -0.02099858596920967, -...","[0.015798592939972878, -0.0158467348664999, -0...","[-0.03139056637883186, -0.033278316259384155, ...","[-8.562059520045295e-05, -0.0230860598385334, ...",N/A,N/A,N/A

In [10]:
s1 = "Animators and Multimedia Artists that create storyboards to illustrate scenes or action sequences for films, television programs, or other media."
s2 = "Special effects artists and animators that apply story development, directing, cinematography, and editing to animation to create storyboards that show the flow of the animation and map out key scenes and characters."

In [13]:
e1 = x_chat.get_embedding(s1)
#e1 = df_exp[df_exp.description.str.contains("managers that evaluate the organization")].task_embedding.iloc[0]
e2 = x_chat.get_embedding(s2)

#e2 = x_chat.get_embedding("Computer Information Systems Managers evaluate cloud service offering different provider select suitable option company 's need")
e1 = np.array(e1).reshape(1,-1)
e2 = np.array(e2).reshape(1,-1)
cosine_similarity(e1,e2, 'cosine')[0][0]

0.6625274673336069

In [17]:
title_embeddings = np.array(df_exp.title_embedding)
title_embeddings = np.vstack(title_embeddings)

In [147]:
onet_df = pd.read_csv("../output/results v3/onet_df.csv")
onet_df = onet_df[[col for col in onet_df.columns if "titles" not in col]]
onet_df[["Job_similarity_titles"]]= 'N/A'
len(onet_df)

6093